.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 0 0 10px;
}

.info {
  text-align: center;
  font-weight: 400;
}

.link {
  text-decoration: none;
  outline: none;
  border: none;
}
