/* Font: Roboto, sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*  For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ccc #333;
  scroll-behavior: smooth;
}

/* Scroll Bar Style For Chromium Based Browsers */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #333;
  border-radius: 20px;
  outline: 1px solid black;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
}
